/* 
TABLE OF CONTENTS:

General Page Formatting             1.0
Navbar                              2.0
Banner                              3.0
Footer                              4.0
Home Page Styling                   5.0
General Page Styling                6.0
About Page Styling                  7.0
News Page Styling                   8.0
*/

/* 1.0 General Page Formatting */

body {
    font-family: Open Sans, Verdana, sans-serif;
    background: #212121;
    margin: 0;
    padding: 0;
    min-width: 1080px;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: Lato;
    font-weight: 700;
}

body h1, h2, h3, h4, h5, h6, p {
    line-height: 1.8em;
}

body a {
    text-decoration: none;
    color: #FF4136;
}

body a:hover {
    color: #FF7169;
}

/* 2.0 Navbar Styling */

#navbar {
    height: 3em;
    width: 100%;
    min-width: 1080px;
    background: #A2A2A2;
    margin-top: -1em;
    margin-left: 0;
    border-bottom: 5px solid #982121;
}

#navbar img {
    float: left;
    margin-left: 20%;
    margin-right: 2em;
    margin-top: .5em;
    height: 2em;
}

#navbar ul {
    width: 80%;
    margin-left: 25%;
    list-style: none;
}

#navbar ul li {
    display: inline-block;
    float: left;
    width: 10%;
    min-width: 5 em;
}

#navbar ul a {
    float: left;
    width: 100%;
    padding-top: .8em;
    margin-top: .2em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #565656;
    line-height: 10px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

#navbar a:hover {
    color: #982121;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

#navbar ul ul {
    display: none;
    visibility: hidden;
    background: #A2A2A2;
    float: none;
    padding: 0;
    margin: 0;
    top: 2em;
    width: 8%;
}

#navbar ul li:hover ul {
    display: block;
    position: absolute;
    visibility: visible;
}

#navbar ul ul li:hover {
    display: block;
    visibility: visible;
}

#navbar ul ul li {
    width: 100%;
    min-width: 8em;
    height: 2.5em;
    padding-bottom: .5em;
}

#navbar ul ul li a {
    text-align: left;
    margin-left: 1em;
    margin-top: .5em;
}

.divider {
 float: left;
 margin-top: .5em;
 height: 2em;
 border-left: 1px solid #565656;
 border-right: 1px solid #565656;
 border-radius: 1px;
}

/* 3.0 Banner styling */
.banner .background {
    overflow: hidden;
    width: 100%;
    height: 21em;
    margin: 0;
    padding: 0;
}

.banner .background img {
    margin-top: -23%;
    width: 100%;
}

.banner h2 {
    font-size: 2em;
    font-weight: 300;
    color: #eeeeee;
    width: auto;
    position: absolute;
    left: 50%;
    top: 4em;
}

#music-banner img {
    margin-top: -15%;
}

#banner2 img {
    margin-top: -12%;
}

#about-banner img {
    margin-top: -12%;
}

#video-banner img {
    margin-top: -30%;
}

#games-banner img {
    margin-top: -15%;
}


/* 4.0 Footer Styling */

#footer {
    clear: both;
    margin-top: 2em;
    bottom: 0;
    width: 90%;
    height: 3em;
    font-size: .8em;
    text-align: right;
}

/* 5.0 Home page Styling */
#title {
    margin-top: 0;
    padding: auto;
    font-size: 1.5em;
    height: 12em;
    background: #982121;
}

#title h1 {
    margin: auto;
    padding: auto;
    line-height: 6em;
    margin-bottom: -10%;
    font-size: 1.7em;
    text-align: center;
    color: #e8e8e8
}

#info-block {
    background: #292525;
}

.block {
    display: block;
    width: 33%;
    float: left;
}

.block img {
    display: block;
    margin: auto;
    margin-top: 5em;
    padding: auto;
    width: 10em;
}

#right img {
    margin-top: 7em;
}

.block p {
    margin: auto;
    padding: 2em;
    text-align: center;
    width: 50%;
}

/* 6.0 General page styling */

#wrapper {
    width: 40%;
    max-width: 1080px;
    margin: auto;
}

#wrapper h1, h2, h3, h4, h5, h6, p, ul, li {
    line-height: 2em;
    color: #e2e2e2;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 3em;
}

/* About page styling 7.0 */

.column {
    float: left;
    width: 40%;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    border-radius: 5em;
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: .5s;
    -webkit-transition: .5s;
}

.headshot:hover {
    filter: none;
    -webkit-filter: none;
    transition: .5s;
    -webkit-transition: .5s;
}

.hdivider {
    width: 100px;
    height: 100px;
    border-top: 1px solid #FF4136;
    border-bottom: 1px solid #FF4136;
}

/* News Page Styling 8.0 */

.news img {
    width: 100%;
    height: 20em;
    border-radius: .5em;
    margin-top: 5em;
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: .5s;
    -webkit-transition: .5s;
}

.news img:hover {
    filter: none;
    -webkit-filter: none;
    transition: .5s;
    -webkit-transition: .5s;
}

.news a h2 {
    text-decoration: none;
    color: #FF4136;
}

.news a:hover h2 {
    color: #FF7169;
}